@media only screen and (max-device-width:500px){
    #topIcons{
        width: 76%;
    }
    #saveAs,
    #addTask{
        width: 61%;
        margin-left: 50px;
    }
}
#divheader{
    background-color: darkcyan!important;
    color: white;
}
#topIconsContainer{
    width: 52%;
}
#topIcons{
    float:right;
    padding-bottom: 10px;
}
/*.row:(odd){
    background-color: #afeeee;
}*/
.row:nth-child(even){
    background-color: #dcdcdc;
}
.row:nth-child(odd){
    background-color: #aaaaaa;
}
#listGroup{
    width: 50%;
}
#saveAs,
#addTask{
/*    width:80%;*/
    margin-left: 126px;
/*    float: right;*/
}
#addTask{
/*    margin-left: 41px;*/
    padding: 10px 0px 10px 0px;
}
#taskGroup{
    width: 80%;
    cursor: pointer;
}
